In [1]:
import csv

In [2]:
dir (csv)

['Dialect',
 'DictReader',
 'DictWriter',
 'Error',
 'QUOTE_ALL',
 'QUOTE_MINIMAL',
 'QUOTE_NONE',
 'QUOTE_NONNUMERIC',
 'Sniffer',
 'StringIO',
 '_Dialect',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'excel',
 'excel_tab',
 'field_size_limit',
 'get_dialect',
 'list_dialects',
 're',
 'reader',
 'register_dialect',
 'unix_dialect',
 'unregister_dialect',
 'writer']

In [3]:
open_file = open("student data Session 17.csv", mode="r")
open_file

In [4]:
read = csv.reader(open_file)
read

In [5]:
data = list(read)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [6]:
header = data[0]
header

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [7]:
student_data = data[1:]
student_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [8]:
student_data[0][2]

'50'

In [9]:
chem_marks = []
for i in student_data:
    chem_marks.append(float(i[2]))

In [10]:
chem_marks

[50.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 83.0]

In [11]:
sum(chem_marks)

3421.0

In [12]:
chem_marks = [float(i[2]) for i in student_data]
chem_marks

[50.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 83.0]

In [13]:
sum(chem_marks)

3421.0

In [14]:
len(chem_marks)

50

In [15]:
Avg_chem_mark = sum(chem_marks)/len(chem_marks)
Avg_chem_mark

68.42

In [16]:
phy_marks = [float(i[3]) for i in student_data]
phy_marks

[23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 55.0,
 61.0,
 88.0,
 56.0,
 89.0,
 45.0,
 92.0,
 36.0,
 78.0,
 56.0,
 78.0,
 89.0,
 56.0,
 33.0,
 78.0,
 45.0]

In [17]:
sum(phy_marks)

3253.0

In [18]:
len(phy_marks)

50

In [19]:
Avg_phy_mark = sum(phy_marks)/len(phy_marks)
Avg_phy_mark

65.06

In [20]:
math_marks = [float(i[4]) for i in student_data]
math_marks

[87.0,
 88.0,
 89.0,
 90.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 78.0,
 45.0,
 46.0,
 89.0,
 78.0,
 56.0,
 78.0,
 54.0,
 78.0,
 46.0,
 79.0,
 46.0,
 45.0,
 56.0]

In [21]:
sum(math_marks)

3868.0

In [22]:
len(math_marks)

50

In [23]:
Avg_math_mark = sum(math_marks)/len(math_marks)
Avg_math_mark

77.36

In [24]:
student_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [25]:
for per in student_data:
    chem = int(per[2])
    phy = int(per[3])
    math = int(per[4])
    percentage = round(chem+phy+math)/300*100,1
    per.append(percentage)

In [26]:
student_data

[['101', 'Aliza', '50', '23', '87', (53.333333333333336, 1)],
 ['102', 'Fareed', '45', '24', '88', (52.33333333333333, 1)],
 ['103', 'Basit', '46', '25', '89', (53.333333333333336, 1)],
 ['104', 'Abdullah', '47', '26', '90', (54.333333333333336, 1)],
 ['105', 'Ali', '48', '27', '67', (47.333333333333336, 1)],
 ['106', 'Mubashir', '49', '28', '68', (48.333333333333336, 1)],
 ['107', 'Waleed', '50', '29', '69', (49.333333333333336, 1)],
 ['108', 'Mansoor', '51', '30', '70', (50.33333333333333, 1)],
 ['109', 'Zain', '52', '31', '71', (51.33333333333333, 1)],
 ['110', 'Mohsin', '53', '67', '72', (64.0, 1)],
 ['111', 'Shahmeer', '54', '68', '73', (65.0, 1)],
 ['112', 'Rao', '55', '69', '74', (66.0, 1)],
 ['113', 'Aurangzeb', '56', '70', '75', (67.0, 1)],
 ['114', 'Zeeshan', '57', '71', '76', (68.0, 1)],
 ['115', 'Hamna', '58', '72', '77', (69.0, 1)],
 ['116', 'Hamza', '59', '73', '78', (70.0, 1)],
 ['117', 'Khalid', '60', '74', '79', (71.0, 1)],
 ['118', 'Behroz', '61', '75', '80', (72.0, 1)],
 ['119', 'Justin', '62', '76', '81', (73.0, 1)],
 ['120', 'Danish', '63', '77', '82', (74.0, 1)],
 ['121', 'Kainat', '64', '78', '83', (75.0, 1)],
 ['122', 'Sameer', '65', '79', '84', (76.0, 1)],
 ['123', 'Raza', '66', '80', '85', (77.0, 1)],
 ['124', 'Kumar', '67', '81', '86', (78.0, 1)],
 ['125', 'Komal', '68', '82', '87', (79.0, 1)],
 ['126', 'Erum', '69', '83', '88', (80.0, 1)],
 ['127', 'Faiza', '70', '84', '89', (81.0, 1)],
 ['128', 'Saeed', '71', '85', '90', (82.0, 1)],
 ['129', 'Waqar', '72', '86', '91', (83.0, 1)],
 ['130', 'Wali', '73', '87', '92', (84.0, 1)],
 ['131', 'Wajid', '74', '88', '93', (85.0, 1)],
 ['132', 'Waseeb', '75', '89', '94', (86.0, 1)],
 ['133', 'Shiza', '76', '90', '95', (87.0, 1)],
 ['134', 'Shabina', '77', '91', '96', (88.0, 1)],
 ['135', 'Shazain', '78', '55', '97', (76.66666666666667, 1)],
 ['136', 'Lubna', '79', '61', '98', (79.33333333333333, 1)],
 ['137', 'Laiba', '80', '88', '78', (82.0, 1)],
 ['138', 'Khursheed', '81', '56', '45', (60.66666666666667, 1)],
 ['139', 'Ali', '82', '89', '46', (72.33333333333334, 1)],
 ['140', 'Aiza', '83', '45', '89', (72.33333333333334, 1)],
 ['141', 'Aiman', '84', '92', '78', (84.66666666666667, 1)],
 ['142', 'Yasmeen', '85', '36', '56', (59.0, 1)],
 ['143', 'Tasbeel', '86', '78', '78', (80.66666666666666, 1)],
 ['144', 'Laraib', '87', '56', '54', (65.66666666666666, 1)],
 ['145', 'Saleem', '88', '78', '78', (81.33333333333333, 1)],
 ['146', 'Bismil', '89', '89', '46', (74.66666666666667, 1)],
 ['147', 'Batool', '90', '56', '79', (75.0, 1)],
 ['148', 'Iqra', '91', '33', '46', (56.666666666666664, 1)],
 ['149', 'Zarnish', '92', '78', '45', (71.66666666666667, 1)],
 ['150', 'Zara', '83', '45', '56', (61.33333333333333, 1)]]

In [28]:
round(83+45+56)/300*100,0

(61.33333333333333, 0)

In [29]:
data[0].append('percentage')

In [30]:
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'percentage'],
 ['101', 'Aliza', '50', '23', '87', (53.333333333333336, 1)],
 ['102', 'Fareed', '45', '24', '88', (52.33333333333333, 1)],
 ['103', 'Basit', '46', '25', '89', (53.333333333333336, 1)],
 ['104', 'Abdullah', '47', '26', '90', (54.333333333333336, 1)],
 ['105', 'Ali', '48', '27', '67', (47.333333333333336, 1)],
 ['106', 'Mubashir', '49', '28', '68', (48.333333333333336, 1)],
 ['107', 'Waleed', '50', '29', '69', (49.333333333333336, 1)],
 ['108', 'Mansoor', '51', '30', '70', (50.33333333333333, 1)],
 ['109', 'Zain', '52', '31', '71', (51.33333333333333, 1)],
 ['110', 'Mohsin', '53', '67', '72', (64.0, 1)],
 ['111', 'Shahmeer', '54', '68', '73', (65.0, 1)],
 ['112', 'Rao', '55', '69', '74', (66.0, 1)],
 ['113', 'Aurangzeb', '56', '70', '75', (67.0, 1)],
 ['114', 'Zeeshan', '57', '71', '76', (68.0, 1)],
 ['115', 'Hamna', '58', '72', '77', (69.0, 1)],
 ['116', 'Hamza', '59', '73', '78', (70.0, 1)],
 ['117', 'Khalid', '60', '74', '79', (71.0, 1)],
 ['118', 'Behroz', '61', '75', '80', (72.0, 1)],
 ['119', 'Justin', '62', '76', '81', (73.0, 1)],
 ['120', 'Danish', '63', '77', '82', (74.0, 1)],
 ['121', 'Kainat', '64', '78', '83', (75.0, 1)],
 ['122', 'Sameer', '65', '79', '84', (76.0, 1)],
 ['123', 'Raza', '66', '80', '85', (77.0, 1)],
 ['124', 'Kumar', '67', '81', '86', (78.0, 1)],
 ['125', 'Komal', '68', '82', '87', (79.0, 1)],
 ['126', 'Erum', '69', '83', '88', (80.0, 1)],
 ['127', 'Faiza', '70', '84', '89', (81.0, 1)],
 ['128', 'Saeed', '71', '85', '90', (82.0, 1)],
 ['129', 'Waqar', '72', '86', '91', (83.0, 1)],
 ['130', 'Wali', '73', '87', '92', (84.0, 1)],
 ['131', 'Wajid', '74', '88', '93', (85.0, 1)],
 ['132', 'Waseeb', '75', '89', '94', (86.0, 1)],
 ['133', 'Shiza', '76', '90', '95', (87.0, 1)],
 ['134', 'Shabina', '77', '91', '96', (88.0, 1)],
 ['135', 'Shazain', '78', '55', '97', (76.66666666666667, 1)],
 ['136', 'Lubna', '79', '61', '98', (79.33333333333333, 1)],
 ['137', 'Laiba', '80', '88', '78', (82.0, 1)],
 ['138', 'Khursheed', '81', '56', '45', (60.66666666666667, 1)],
 ['139', 'Ali', '82', '89', '46', (72.33333333333334, 1)],
 ['140', 'Aiza', '83', '45', '89', (72.33333333333334, 1)],
 ['141', 'Aiman', '84', '92', '78', (84.66666666666667, 1)],
 ['142', 'Yasmeen', '85', '36', '56', (59.0, 1)],
 ['143', 'Tasbeel', '86', '78', '78', (80.66666666666666, 1)],
 ['144', 'Laraib', '87', '56', '54', (65.66666666666666, 1)],
 ['145', 'Saleem', '88', '78', '78', (81.33333333333333, 1)],
 ['146', 'Bismil', '89', '89', '46', (74.66666666666667, 1)],
 ['147', 'Batool', '90', '56', '79', (75.0, 1)],
 ['148', 'Iqra', '91', '33', '46', (56.666666666666664, 1)],
 ['149', 'Zarnish', '92', '78', '45', (71.66666666666667, 1)],
 ['150', 'Zara', '83', '45', '56', (61.33333333333333, 1)]]

In [31]:
open_file = open("data1 .csv",mode="w", newline='')
open_file

In [32]:
writer = csv.writer(open_file)
writer

In [33]:
writer.writerows(data)

In [34]:
    open_file.close()